/* Modal Tutorial*/
.modal-tutorial {
    display: none;
    width: 40vw;
    height: 90vh;
    background-color: #975a5e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.modal-tutorial .scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 1.5rem;
}

.scroll p {
    font-size: 1.8rem;
}

.groupinput:not(:last-of-type) {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #25161b;
    margin-bottom: 25px;
}

.groupinput .word-example {
    display: flex;
}

.groupinput span {
    font-size: 1.6rem;
    text-align: center;
    width: 7%;
    height: 60px;
    line-height: 60px;
    margin-right: 5px;
    border-radius: 8px;
    border: 2px solid #453953;
    font-weight: bold;
    background-color: #f3cba5;
}

.info-example span {
    font-size: 1.4rem;
    width: 6%;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    display: inline-block;
}

.sucess {
    border: 2px solid #3aa394 !important;
    background-color: #3aa394 !important;
    color: whitesmoke;
}

.fail {
    border: 2px solid #312a2c !important;
    background-color: #312a2c !important;
    color: whitesmoke;
}

.other {
    border: 2px solid #d3ad69 !important;
    background-color: #d3ad69 !important; 
    color: whitesmoke;
}
/* Fim Modal Tutorial*/

/* Modal ganhou/perdeu */
.modal_ganhou {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-color: rgba(145, 126, 126, 0.47);
}
.modal_perdeu {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-color: rgba(145, 126, 126, 0.47);
}
.modal-endgame {
    width: 40vw;
    background-color: #975a5e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 1.5rem;
}

.modal-endgame p {
    font-size: 1.8rem;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.wrapper-button {
    text-align: center;
}

button {
    border-radius: 15%;
    border: 2px solid #25161b;
    background-color: transparent;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #453953;
    color:antiquewhite;
    border: 3px solid #453953;
}
/* Fim Modal ganhou/perdeu */